@font-face {
    font-family: Jura;
    font-weight: 600;
    font-style: normal;
    src: local("Jura SemiBold"),
        url("../source/font/Jura-SemiBold.woff2"),
        url("../source/font/Jura-SemiBold.woff");
}

body, html {
    font-family: Jura, sans-serif;
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none !important;
}

:root {
    --accent-color: #0085FF;
    --accent-dark-color: #005096FF;
    --gray-color: #DEDEDE;
}
/* ----------------------- */

/* grid */
.grid {
    background: #F6F6F6;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "aside aside aside header header header header header header header header header"
        "aside aside aside main main main main main main main main main";
}
.aside-menu--grid {
    grid-area: aside;
}
.header-menu--grid {
    grid-area: header;
}
.content--grid {
    grid-area: main;
}

/* aside menu */
.aside-nav {
    padding: 40px;
}

.aside-nav__title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
    white-space: pre;
}

.aside-menu {
    background: #FFFFFF;
}
.aside-nav__item {
    display: flex;
    border-bottom: var(--gray-color) 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}
.aside-nav__item > a {
    font-size: 1.5em;
    line-height: 30px;
    margin-left: 20px;
}
.aside-nav__item > a:hover {
    color: var(--accent-dark-color);
}

.house-icon {
    width: 32px;
    height: 32px;
    background: url("../source/icon/house.svg") no-repeat;
    background-size: cover;
}
.category-icon {
    width: 32px;
    height: 32px;
    background: url("../source/icon/list-ol.svg") no-repeat;
    background-size: cover;
}
.article-icon {
    width: 32px;
    height: 32px;
    background:url("../source/icon/files.svg") no-repeat;
    background-size: cover;
}
.user-icon {
    width: 32px;
    height: 32px;
    background:url("../source/icon/person.svg") no-repeat;
    background-size: cover;
}
.tag-icon {
    width: 32px;
    height: 32px;
    background:url("../source/icon/list-check.svg") no-repeat;
    background-size: cover;
}
.back-icon {
    width: 32px;
    height: 32px;
    background: url("../source/icon/backspace.svg") no-repeat;
    background-size: cover;
}

.active {
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--accent-color);
    border-radius: 10px;
    border-bottom: 0;
}
.active:hover {
    background: var(--accent-dark-color);
}
.active > a{
    color: #FFFFFF;
}
.active > a:hover {
    color: #FFFFFF;
}
.active > div {
    -webkit-filter: invert(100%);
}

/*  header  */
.header-menu {
    background: #FFFFFF;
    display: flex;
    padding: 16px 40px;
    justify-content: space-between;
}

.header-nav {
    display: flex;
}

.logo {
    background: url("../source/icon/ArBlog-logo.svg") no-repeat center;
    background-size: contain;
    width: 111px;
    height: 28px;
}

.header-nav__list {
    font-size: 1.25em;
    display: flex;
}
.header-nav__item {
    margin-right: 40px;
}
.header-nav__item > a {
    line-height: 30px;
}

.buttons-social {
    display: flex;
}
.buttons-social__item {
    border: #C1C1C1 1px solid;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    padding-top: 3px;
    margin-left: 20px;
}
.discord, .git-hub {
    width: 22px;
    height: 22px;
    margin: 0 auto;
}
.discord {
    background: url("../source/icon/Discord-Logo-Black.png") no-repeat center;
    background-size: contain;
}
.git-hub {
    background: url("../source/icon/GitHub-Mark-64px.png") no-repeat center;
    background-size: contain;
}

/*  main  */
.content {
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: #FFFFFF;
    margin: 40px;
    padding: 40px;
}

.container-info {
    display: inline-block;
    margin-right: 30px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(165, 165, 165, 0.5);
}
.header-info {
    background-color: var(--accent-color);
    color: #FFFFFF;
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding: 25px 0 0 30px;
    border-bottom: 2px solid var(--accent-dark-color);
    font-size: 1.5em;
}
.content-info {
    padding-top: 20px;
    font-size: 1.25em;
}
.content-info li {
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: #c1c1c1 1px solid;
    width: 80%;
}
.content-info li span {
    display: inline-block;
}
.content-info li a {
    margin-left: 10px;
}