@font-face {
    font-family: Jura;
    font-weight: 600;
    font-style: normal;
    src: local("Jura SemiBold"),
    url("../source/font/Jura-SemiBold.woff");
}

* {
    padding: 0;
    margin: 0;
}
body, html {
    font-family: Jura, sans-serif;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
:root {
    --accent-color: #0085FF;
    --accent-dark-color: #005096;
    --gray-color: #C1C1C1;
    --dark-color: #1C1C1C;
    --frame-color: #343434;
    --text-color: #ffffff;
    --text-second-color: #afafaf;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
}
/* ----------------------- */
body {
    background: url("../source/Background_black.png") no-repeat -450px -50px;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}
.line {
    width: 40px;
    height: 2px;
    background: var(--accent-color);
    margin: 30px auto;
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 1fr 1fr 1fr 200px;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "article article article article article article article article article aside aside aside"
        "article article article article article article article article article aside aside aside"
        "article article article article article article article article article aside aside aside"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    gap: 40px 20px;
}

.grid--header {
    grid-area: header;
}
.grid--main {
    grid-area: article;
}
.grid--aside {
    grid-area: aside;
}
.grid--footer {
    grid-area: footer;
}

/* header */
.logo {
    background: url("../source/icon/ArBlog-logo.svg") no-repeat center;
    background-size: contain;
    width: 111px;
    height: 28px;
    margin: 0 60px;
}
.header {
    height: 30px;
    background: var(--frame-color);
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    font-size: 1.25em;
    line-height: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-nav__list {
    display: flex;
}
.header-nav__item {
    margin-right: 40px;
}
.header-nav__item a {
    color: var(--text-color);
}
.active a {
    color: var(--accent-color);
}
.header-nav__item a:hover {
    color: var(--accent-color);
}
.user {
    display: flex;
    margin-right: 60px;
}
.user__list {
    display: flex;
}
.user__list a {
    color: var(--text-color);
}
.user__item:not(:last-child){
    margin-right: 40px;
}
.user__item a:hover {
    color: var(--accent-color);
}

/* aside */
.aside-menu {
    max-width: 265px;
    align-self: self-start;
    background: var(--frame-color);
}
.aside-menu > section:first-child {
    margin-top: 40px;
}
.aside-menu > section:not(:last-child) {
    padding: 0 20px;
}
.aside-menu > section:last-child {
    padding: 0 10px;
}
.aside-menu__title {
    font-size: 1.5em;
    text-align: center;
    color: var(--accent-color);
}
.aside-menu__img {
    position: relative;
    overflow: hidden;
}
.aside-menu h5 {
    white-space: nowrap;
}
.aside-menu__img > a > img {
    width: 100%;
    height: auto;
}
.aside-menu__img:not(:last-child) {
    margin-bottom: 20px;
}
.min-post-title {
    font-size: 1.10em;
    color: #FFFFFF;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: var(--dark-color);
}
.min-post-title:hover {
    color: var(--accent-color);
}
.category-list__item {
    font-size: 1.5em;
    border-bottom: 1px solid var(--gray-color);
    padding: 8px 0 8px 20px;
}
.category-list__item > a {
    color: var(--text-color);
}
.category-list__item > a:hover {
    color: var(--accent-color);
}
.discord-widget {
    margin: 20px 0 10px;
}

/* post */
.post {
    background: var(--frame-color);;
}
.post:not(:last-child) {
    margin-bottom: 40px;
}
.post__img {
    position: relative;
    overflow: hidden;
}
.post__img > img {
    width: 100%;
    height: auto;
}
.post__title {
    font-size: 2.5em;
    position: absolute;
    left: 80px;
    bottom: 40px;
    color: #FFFFFF;
    background: var(--dark-color);
    white-space: nowrap;
}
.post__title:hover {
    color: var(--accent-color);
}
.post__short-info {
    padding: 40px;
}
.post__category {
    font-size: 1.5em;
    text-align: center;
}
.post__category > a {
    color: var(--accent-color);
}
.post__category > a:hover {
    color: var(--accent-dark-color);
}
.post__description {
    font-size: 1.25em;
    text-align: justify;
    color: var(--text-color);
}
.read_button {
    display: block;
    padding: 10px;
    border: 1px solid var(--accent-color);
    margin: 30px auto 0 auto;
    text-align: center;
    width: 20%;
    transition: 0.5s;
    font-size: 1.05em;
    color: var(--text-color);
}
.read_button:hover {
    background-color: var(--accent-color);
    color: #ffffff;
}
.post__info {
    border-top: 1px solid #e8e8e8;
    display: flex;
    margin-top: 20px;
    padding-top: 10px;
    justify-content: space-between;
}
.post__viewed {
    display: flex;
}
.viewed-icon {
    width: 24px;
    height: 24px;
    background: url("../source/icon/eye.svg") no-repeat;
    background-size: cover;
    -webkit-filter: invert(100%);
}
.post__viewed p {
    display: block;
    line-height: 24px;
    margin-right: 5px;
    color: var(--text-second-color);
}
.post__date {
    display: flex;
    justify-content: left;
    color: var(--text-second-color);
}

/* categories */
.categories {
    padding: 15px;
    background: var(--frame-color);
}
.categories__list {
    display: flex;
    flex-wrap: wrap;
}
.categories__item > a {
    font-size: 1.25em;
    color: #FFFFFF;
}
.categories__item {
    margin: 5px;
    padding: 10px;
    background: var(--accent-dark-color);
    transition: 0.3s;
}
.categories__item:hover {
    background: var(--accent-color);
}

/* login */
.login-container {
    margin: 0 auto;
    padding: 20px;
    background-color: var(--frame-color);
}
.login-container > h1, p {
    color: var(--text-color);
    text-align: center;
}

.input {
    width: 100%;
    padding: 10px 0;
}
.form-group {
    padding: 10px 0;
}

.error {
    color: #ff0000;
}
.btn {
    color: #FFFFFF;
    padding: 10px;
    background: var(--accent-color);
    width: 100%;
    border: 0;
}
.btn:hover {
    background: var(--accent-dark-color);
}

/* error */
.error-block {
    background-color: var(--frame-color);
    padding: 40px;
}

/* pagination */
.pagination {
    display: flex;
}
.pagination a, span {
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.25em;
    color: var(--text-color);
}
.pagination li {
    min-width: 50px;
    min-height: 50px;
    background-color: var(--frame-color);
}
.pagination li:not(:last-child) {
    margin-right: 10px;
}
.pagination a:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.disabled span {
    color: var(--text-second-color);
}
.active a {
    color: #FFFFFF;
    background-color: var(--accent-dark-color);
}

/* cabinet */
.cabinet {
    background-color: var(--frame-color);
    padding: 40px;
}
.cabinet-user {
    display: flex;
}
.cabinet img {
    width: 128px;
    height: 128px;
}
.user-info {
    margin-left: 20px;
}
.user-info__item {
    color: var(--text-color);
    font-size: 1.25em;
    padding: 10px;
    border-bottom: 1px solid #c1c1c1;
}
.user-btn {
    display: block;
    text-align: center;
    margin-top: 10px;
}
.danger {
    background-color: #bd0000;
    width: 100px;
    margin: 0 0 0 auto;
}
.danger:hover {
    background-color: #db0000;
}
.warning {
    background-color: #e07e00;
}
.warning:hover {
    background-color: #b16200;
}
.download-img {
    width: 100px;
}
.help-block {
    color: #ff0000;
}
.user-update-form form div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
}
#user-about {
    height: 200px;
}
.control-user {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.black-theme {
    color: var(--text-color);
    line-height: 38px;
}

/* footer */
.footer {
    height: 200px;
    background: var(--frame-color);;
}